@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
 
*{
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}
 
body{
  background-color: rgb(220, 182, 206) ;
 
}
.form-control{
  background-color: rgb(232, 219, 229);
}
 
.title{
  text-align: center;
}